@use "base" as *;
@use "theme-blue" as *;

.container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 10px;
    font-family: $font-primary;
    .box {   
        height: 100px;
        width: 100px;
        border-radius: 5px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Comic Sans MS';
        text-align: center;
        border-radius: $radius;
        .color-box-text {
            mix-blend-mode: difference;
        }
        &.base-color {
            background-color: $color;            
        }
        
        &.important-color {
            background-color: darken($color: $color, $amount: 25%);
        }        

        &.warning-color {
            background-color: lighten($color: $color, $amount: 40%);
        }  
        
        &.shadow-box {            
            box-shadow: $shadowX 5px 10px black;
        }
    }
    .secondary-font {
        font-family: $font-secondary;
    }
}






